<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Quote</h2>
      <% if (!quote) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Daftar quote tidak ada. <br><a href="/quote" class="alert-link fw-normal">Kembali ke daftar quote</a>.
      </div>
      <% }else{ %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= quote.name %> </h5>
          <h6 class="card-subtitle mb-2"><%= quote.quote %> </h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= quote.nohp %> </h6>
          <p class="card-text"><%= quote.email %> </p>
          <a href="/quote/edit/<%= quote.name %>" class="btn btn-info badge">Ubah</a>
          <form action="/quote?_method=DELETE" method="POST" class="d-inline">
            <input type="hidden" name="id" value="<%= quote._id %>">
            <button type="submit" class="btn btn-danger badge"
              onclick="return confirm('Serius hapus?');">Delete</button>
          </form>
          <a href="/quote" class="card-link d-block mt-3">&laquo; Kembali ke daftar quote</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>