<div class="container mt3">
  <div class="row">
    <div class="col-md-6">
      <h2>Form Ubah Data Quote</h2>
      <% if (typeof errors !='undefined') { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(err => { %>
          <li><%= err.msg %> </li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      <form method="POST" action="/quote?_method=PUT">
        <input type="hidden" name="_id" value="<%= quote._id %>">
        <input type="hidden" name="oldNama" value="<%=  quote.oldNama || quote.name %>">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required value="<%= quote.name %>">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required value="<%= quote.email %>">
        </div>
        <div class="mb-3">
          <label for="nohp" class="form-label">No HP</label>
          <input type="text" class="form-control" id="nohp" name="nohp" required value="<%= quote.nohp %>">
        </div>
        <div class="mb-3">
          <label for="quote" class="form-label">Quote</label>
          <input type="text" class="form-control" id="quote" name="quote" required value="<%= quote.quote %>">
        </div>

        <button type="submit" class="btn btn-primary">Ubah Data Quote</button>
      </form>
    </div>
  </div>
</div>